id |                 desc                                                        |  status
-----------------------------------------------------------------------------------------
1  主机发现                                                                           √
2  端口识别                                                                           ×
3  服务识别                                                                           ×
4  操作系统识别                                                                       ×
5  snmp口令添加，snmpv3支持                                                           ×

