id|                  desc                                                        |  status
-----------------------------------------------------------------------------------------
1  用户管理									    √
2  拓扑展示	                                                                    ×
3  主题切换	                                                                    ×
4  snmp口令配置设计	                                                            ×
5  SSL/STL支持	                                                                    ×

